<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Menu</title>
</head>
<body>
<div class="dws-menu">
    <ul class="dws-ul">
        <li class="dws-li"><a th:href="@{/}"><i aria-hidden="true"></i>Home</a></li>
        <li class="dws-li"><a th:href="@{/typeMenu/OneType/{typeMenu}(typeMenu=${'GeneralMenu'})}"><i>General Menu</i></a></li>
        <li class="dws-li"><a th:href="@{/typeMenu/TwoType/{typeMenu}(typeMenu=${'BarCard'})}"><i>Bar Card</i></a></li>
        <li class="dws-li"><a th:href="@{/menu}"><i aria-hidden="true"></i>Menu</a></li>
        <li class="dws-li"><a th:href="@{/drink}"><i aria-hidden="true"></i>Drink</a></li>
    </ul>
</div>

<table border="1" style="width:300px">
    <tr>
        <td>NameDishes:   </td>
        <td>Category:     </td>
        <td>Price:        </td>
    </tr>
    <tr th:each="drink : ${barCardIndex}">
        <td>
            <a th:href="@{/showDrink/{drink}(drink=${drink.getNameDrink})}" th:text="${drink.getNameDrink}"></a>
        </td>
        <td th:text="${drink.getNameCategory}"></td>
        <td th:text="${drink.getPriceDrink() + '$'}"></td>
    </tr>
</table>
<br/>
<form th:method="POST" th:action="@{/typeMenu/TwoType/category/{nameCategory}(nameCategory=${newBarCard.getNameCategory()})}"
      th:object="${newBarCard}">
    <label for="name">Enter name dish</label>
    <input type="text" th:field="*{nameDrink}" id="name"/>
    <br/>
    <label for="price">Enter price dish</label>
    <input type="text" th:field="*{priceDrink}" id="price"/>
    <br/>
    <input type="submit" value="add" />
</form>

<br/>
</body>
</html>