<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Menu</title>
</head>
<body>
<div class="dws-menu">
    <ul class="dws-ul">
        <li class="dws-li"><a th:href="@{/}"><i aria-hidden="true"></i>Home</a></li>
        <li class="dws-li"><a th:href="@{/typeMenu/OneType/Menu}"><i>Menu</i></a></li>
        <li class="dws-li"><a th:href="@{/typeMenu/TwoType/BarCard}"><i>Bar Card</i></a></li>
        <li class="dws-li"><a th:href="@{/menu}"><i aria-hidden="true"></i>AllDish</a></li>
        <li class="dws-li"><a th:href="@{/drink}"><i aria-hidden="true"></i>AllDrink</a></li>
    </ul>
</div>
<br/>

<table border="1" style="width:300px">
    <tr>
        <td>NameDrink:   </td>
        <td>Category:     </td>
        <td>Price:        </td>
    </tr>
    <tr th:each="drink : ${barCardIndex}">
        <td>
            <a th:href="@{/showDrink/{drink}(drink=${drink.getNameDrink})}" th:text="${drink.getNameDrink}"></a>
        </td>
        <td th:text="${drink.getNameCategory}"></td>
        <td th:text="${drink.getPriceDrink() + '$'}"></td>
    </tr>
</table>
<br/>
<div class="form3">
<form th:method="POST" th:action="@{/typeMenu/TwoType/category/{nameCategory}(nameCategory=${newBarCard.getNameCategory()})}"
      th:object="${newBarCard}">
    <input type="text" th:field="*{nameDrink}" id="name" placeholder="Enter name drink"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameDrink')}" th:errors = "*{nameDrink}">Error</div>
    <br/>
    <input type="text" th:field="*{fortressDrink}" id="fortressDrink" placeholder="Enter fortress drink"/>
    <div style="color:red" th:if="${#fields.hasErrors('fortressDrink')}" th:errors = "*{fortressDrink}">Error</div>
    <br/>
    <input type="text" th:field="*{sizeDrink}" id="sizeDrink" placeholder="Enter size drink"/>
    <div style="color:red" th:if="${#fields.hasErrors('sizeDrink')}" th:errors = "*{sizeDrink}">Error</div>
    <br/>
    <input type="text" th:field="*{priceDrink}" id="price" placeholder="Enter price drink"/>
    <div style="color:red" th:if="${#fields.hasErrors('priceDrink')}" th:errors = "*{priceDrink}">Error</div>
    <br/>
    <input type="submit" value="add" />
</form>
</div>
</body>
</html>