<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Menu</title>
</head>
<body>
<div class="dws-menu">
    <ul class="dws-ul">
        <li class="dws-li"><a th:href="@{/}"><i aria-hidden="true"></i>Home</a></li>
        <!--        <li class="dws-li"><a th:href="@{/typeMenu/OneType/Menu}"><i aria-hidden="true"></i>Menu</a></li>-->
        <li class="dws-li"><a th:href="@{/category/Menu/1}"><i aria-hidden="true"></i>Menu</a></li>
        <!--        <li class="dws-li"><a th:href="@{/typeMenu/TwoType/BarCard}"><i aria-hidden="true"></i>Bar Card</a></li>-->
        <li class="dws-li"><a th:href="@{/category/BarCard/2}"><i aria-hidden="true"></i>Bar Card</a></li>
        <li class="dws-li"><a th:href="@{/menu}"><i aria-hidden="true"></i>AllDish</a></li>
        <li class="dws-li"><a th:href="@{/drink}"><i aria-hidden="true"></i>AllDrink</a></li>
    </ul>
</div>
<br/>

<table border="1" style="width:300px">
    <tr>
        <td>NameDishes:   </td>
        <td>Price:        </td>
    </tr>
    <tr th:each="dish : ${dishFromCategory}">
        <td>
            <a th:href="@{/menuInfo/{nameDish}(nameDish=${dish.getNameDish()})}" th:text="${dish.getNameDish()}"></a>
        </td>
        <td th:text="${dish.getPrice() + '$'}"></td>
    </tr>
</table>
<br/>
<div class="form3">
<form th:method="POST" th:action="@{/menu/{category_id}(category_id=${newDish.getCategory_id()})}" th:object="${newDish}">
    <input type="text" th:field="*{nameDish}" id="name" placeholder="Enter name dish"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameDish')}" th:errors = "*{nameDish}">Error</div>
    <br/>
    <input type="text" th:field="*{consistDish}" id="consist" placeholder="Enter consist"/>
    <div style="color:red" th:if="${#fields.hasErrors('consistDish')}" th:errors = "*{consistDish}">Error</div>
    <br/>
    <input type="text" th:field="*{calories}" id="calories" placeholder="Enter calories"/>
    <div style="color:red" th:if="${#fields.hasErrors('calories')}" th:errors = "*{calories}">Error</div>
    <br/>
    <input type="text" th:field="*{weight}" id="weight" placeholder="Enter weight"/>
    <div style="color:red" th:if="${#fields.hasErrors('weight')}" th:errors = "*{weight}">Error</div>
    <br/>
    <input type="text" th:field="*{price}" id="price" placeholder="Enter price dish"/>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors = "*{price}">Error</div>
    <br/>
    <input type="submit" value="add" />
</form>
</div>

</body>
</html>