<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Category</title>
</head>
<body>
<div class="dws-menu">
    <ul class="dws-ul">
        <li class="dws-li"><a th:href="@{/}"><i aria-hidden="true"></i>Home</a></li>
        <!--        <li class="dws-li"><a th:href="@{/typeMenu/OneType/Menu}"><i aria-hidden="true"></i>Menu</a></li>-->
        <li class="dws-li"><a th:href="@{/category/Menu/1}"><i aria-hidden="true"></i>Menu</a></li>
        <!--        <li class="dws-li"><a th:href="@{/typeMenu/TwoType/BarCard}"><i aria-hidden="true"></i>Bar Card</a></li>-->
        <li class="dws-li"><a th:href="@{/category/BarCard/2}"><i aria-hidden="true"></i>Bar Card</a></li>
        <li class="dws-li"><a th:href="@{/menu}"><i aria-hidden="true"></i>AllDish</a></li>
        <li class="dws-li"><a th:href="@{/drink}"><i aria-hidden="true"></i>AllDrink</a></li>
    </ul>
</div>
<br/>
<div class="menu-links">
    <table border="1" style="width:300px">
        <tr>
            <td>NameCategory:   </td>
            <td>Delete:        </td>
        </tr>
        <tr th:each="category : ${category}">
            <td>
                <a th:href="@{/menu/{category_id}(category_id=${category.getId()})}"
                   class="menu-links__item "
                   th:text="${category.getNameCategory()}"></a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/categoryMenu/{nameCategory}(nameCategory=${category.getNameCategory()})}" >
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    </table>
</div>
<br/>

<div class="form">
<form th:method="POST" th:action="@{/category/Menu/{typeMenu}(typeMenu=${newCategory.getTypeMenu_id()})}" th:object="${newCategory}">
    <input type="text" th:field="*{nameCategory}" id="name" placeholder="Enter name category"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameCategory')}" th:errors = "*{nameCategory}">Error</div>
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>

<!--<form th:method="DELETE" th:action="@{/category/Menu}" >-->
<!--    <input type="text" name="nameCategoryDelete" id="nameCategory" placeholder="Enter name category"/>-->
<!--    <br/>-->
<!--    <input type="submit" value="Delete" />-->
<!--</form>-->
</div>
</body>
</html>