<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Restaurant</title>
</head>
<body>

<div class="dws-menu">
    <ul class="dws-ul">
        <li class="dws-li"><a th:href="@{/}"><i aria-hidden="true"></i>Home</a></li>
<!--        <li class="dws-li"><a th:href="@{/typeMenu/OneType/Menu}"><i aria-hidden="true"></i>Menu</a></li>-->
        <li class="dws-li"><a th:href="@{/category/Menu/1}"><i aria-hidden="true"></i>Menu</a></li>
<!--        <li class="dws-li"><a th:href="@{/typeMenu/TwoType/BarCard}"><i aria-hidden="true"></i>Bar Card</a></li>-->
        <li class="dws-li"><a th:href="@{/category/BarCard/2}"><i aria-hidden="true"></i>Bar Card</a></li>
        <li class="dws-li"><a th:href="@{/menu}"><i aria-hidden="true"></i>AllDish</a></li>
        <li class="dws-li"><a th:href="@{/drink}"><i aria-hidden="true"></i>AllDrink</a></li>
        <li class="dws-li"><a th:href="@{/save}"><i aria-hidden="true"></i>Save</a></li>
        <li class="dws-li"><a th:href="@{/upload}"><i aria-hidden="true"></i>Upload</a></li>
    </ul>
</div>
<br/>

<div class="d6">
    <form th:method="POST" th:action="@{/search}">
        <input type="text" name="search" placeholder="Search..."/>
        <button type="submit"></button>
    </form>
</div>

<br/>
<ul class="dotted">
            <h1 class="zg" th:if="${searchDish.size}" >Dishes:</h1>
    <li  th:each="dishes : ${searchDish}">
        <a th:href = "@{/menuInfo/{nameDish}(nameDish=${dishes.getNameDish()})}"
           th:text="${dishes.getNameDish()}"></a></li>
    <br>
        <h1 class="zg" th:if="${searchDrink.size}" >Drink:</h1>
    <li  th:each="drinks : ${searchDrink}">
        <a th:href = "@{/showDrink/{drink}(drink=${drinks.getNameDrink})}"
           th:text="${drinks.getNameDrink()}"></a></li>
</ul>

</body>
</html>