<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Restaurant</title>
</head>
<body>

<div class="dws-menu">
    <ul class="dws-ul">
      <li class="dws-li"><a th:href="@{/}"><i aria-hidden="true"></i>Home</a></li>
        <li class="dws-li"><a th:href="@{/typeMenu/OneType/{typeMenu}(typeMenu=${'GeneralMenu'})}"><i>General Menu</i></a></li>
        <li class="dws-li"><a th:href="@{/typeMenu/TwoType/{typeMenu}(typeMenu=${'BarCard'})}"><i>Bar Card</i></a></li>
      <li class="dws-li"><a th:href="@{/menu}"><i aria-hidden="true"></i>Menu</a></li>
        <li class="dws-li"><a th:href="@{/drink}"><i aria-hidden="true"></i>Drink</a></li>
    </ul>
  </div>
<br/>
<div class="d6">
<form th:method="POST" th:action="@{/search}">
    <input type="text" name="search" placeholder="Search..."/>
    <button type="submit"></button>
</form>
</div>
<br/>
<ul class="dotted">
    <li  th:each="menu : ${searchList}">
        <a th:href = "@{/menu/showDish/{dish}(dish=${menu.getNameDish()})}"
           th:text="${menu.getNameDish()}"></a></li>
</ul>


</body>
</html>