<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<table border="1" style="width:300px">
    <tr>
        <td>NameDishes:   </td>
        <td>Category:     </td>
        <td>Price:        </td>
    </tr>
    <tr th:each="menu : ${menuIndex}">
        <td>
            <a th:href="@{/menu/show/{menu}(menu=${menu.getNameDish()})}" th:text="${menu.getNameDish()}"></a>
        </td>
        <td th:text="${menu.getNameCategory()}"></td>
        <td th:text="${menu.getPrice() + '$'}"></td>
    </tr>
</table>
<br/>
<form th:method="POST" th:action="@{/category/{nameCategory}(nameCategory=${newMenu.getNameCategory()})}" th:object="${newMenu}">
    <label for="name">Enter name dish</label>
    <input type="text" th:field="*{nameDish}" id="name"/>
    <br/>
    <label for="price">Enter price dish</label>
    <input type="text" th:field="*{price}" id="price"/>
    <br/>
    <input type="submit" value="add" />
</form>

<br/>

</body>
</html>