<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<form th:method="POST" th:action="@{/category}" th:object="${newCategory}">
    <label for="category">Entry name category</label>
    <input type="text" th:field="*{nameCategory}" id="category">

<!--<div th:object="${newMenu}">-->
<!--    <label for="dishes">Entry name dishes</label>-->
<!--    <input type="text" th:field="*{nameDish}" id="dishes">-->
<!--    <label for="category2">Entry name dishes</label>-->
<!--    <input type="text" th:field="*{nameCategory}" id="category2">-->
<!--    <label for="price">Entry name dishes</label>-->
<!--    <input type="range" th:field="*{price}" id="price">-->
<!--</div>-->
    <br/>
    <input type="submit" value="Create">
</form>

</body>
</html>