<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Show</title>
</head>
<body>
<div class="dws-menu">
    <ul class="dws-ul">
        <li class="dws-li"><a th:href="@{/}"><i aria-hidden="true"></i>Home</a></li>
        <li class="dws-li"><a th:href="@{/category}"><i aria-hidden="true"></i>Category</a></li>
        <li class="dws-li"><a th:href="@{/menu}"><i aria-hidden="true"></i>Menu</a></li>
    </ul>
</div>
<br/>

<ul class="dish">
    <!-- <li><span>NameDishes</span><span th:text="${}"></span></li> -->
    <li><span>Consist</span><span th:text="${showDish.getConsistDish()}"></span></li>
    <li><span>Calories</span><span th:text="${showDish.getCalories()}"></span></li>
    <li><span>Weight</span><span th:text="${showDish.getWeight()}"></span></li>
    <!--<li><span>Category</span><span th:text="${}"></span></li>-->
    <!-- <li><span>Price</span><span th:text="${}"></span></li>-->
</ul>
<br/>
<div class="form2">
<form th:method="PATCH" th:action="@{/{nameMenu}(nameMenu=${editMenu.getNameDish()})}"
      th:object="${showDish}">
    <label for="consist">Enter name: </label>
    <input type="text" th:field="*{consistDish}" id="consist"/>

    <label for="calories">Enter price: </label>
    <input type="text" th:field="*{calories}" id="calories"/>

    <label for="weight">Enter price: </label>
    <input type="text" th:field="*{weight}" id="weight"/>

    <br/>
    <input type="submit" value="Update!"/>
</form>
<form th:method="DELETE" th:action="@{/category/{nameCategory}(nameCategory=${editMenu.getNameDish()})}" >
    <br/>
    <input type="submit" value="Delete" />
</form>
</div>
</body>
</html>